#cont1{
    width: 1000px;
    height: 700px;
    background-color: rgb(228, 226, 226);
    border: 10px solid gray;
    border-radius: 30px;
    margin-left:250px;
    overflow: hidden;

}

#cont2{
    height: 80px;
    width: 1000px;
    background-color: rgb(205, 200, 200);
    

}
#c1{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}
#c2{
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
    
}
#c3{
    background-color:rgb(34, 169, 34);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
    
}
#circle{
    display: flex;
    padding: 10px;
    
}
#rect{
   display: flex;
   padding: 10px;
   

}
#rect1{
    background-color: rgb(255, 48, 48);
    height: 125px;
    width: 750px;

}
#rect2{
    background-color: rgb(255, 48, 48);
    height: 125px;
    width: 500px;
    margin-left: 10px;

}
#rect3{
    background-color: orange;
    height: 320px;
    width: 400px;
    margin-left: 10px;

}
#cont11{
   padding: 10px;

}
#rect4{
    background-color: rgb(140, 9, 145);
    height: 155px;
    width: 570px;
    
}
#rect5{
    background-color: rgb(140, 9, 145);
    height: 155px;
    width: 570px;
    margin-top: 10px;
   
}
#p{
    margin-left: 410px;
    
}
#lower{
    display: flex;
    padding: 10px;
    justify-content: space-between;

}
#cont16{
    background-color: rgb(49, 120, 156);
    height: 125px;
    width: 300px;

}
#cont17{
    background-color: rgb(49, 120, 156);
    height: 125px;
    width: 400px;
    margin-left: 10px;

}
#cont18{
    background-color: rgb(49, 120, 156);
    height: 125px;
    width: 300px;
    margin-left: 10px;

}
